<h1>Fooditems: Index</h1>
<% if !@fooditems.empty? %>
  <% @fooditems.each do |fooditem| %>
    <p><a href="/fooditems/<%= fooditem.id %>"><%= fooditem.name %></a>
    <a href="/meal/add/<%= fooditem.id %>">+add to meal</a>
    </p>
  <% end %>
<% else %>
  <h3>Currently no Food items</h3>
<% end %>
