
<div class="login_form fooditem_form">
  <h1>Adding New Fooditem</h1>
  <form action="/fooditems" method="post">
    <table>
      <tr>
        <td>Name:</td>
        <td><input type="text" name="fooditem[name]" value=""></td>
      </tr>
      <tr>
        <td>Serving Size:</td>
        <td><input type="text" name="fooditem[serving_size]" value="">
          <select><% Serving_type.all.each do |s| %><option value="<%= s.id %>"><%= s.name %></option><% end %></select>
        </td>
      </tr>
      <tr>
        <td>Calories:</td>
        <td><input type="text" name="fooditem[calories]" value=""></td>
      </tr>
      <tr>
        <td>total_fat:</td>
        <td><input type="text" name="fooditem[total_fat]" value="0"></td>
      </tr>
      <tr>
        <td>total_carbohydrate:</td>
        <td><input type="text" name="fooditem[total_carbohydrate]" value="0"></td>
      </tr>
      <tr>
        <td>sugars:</td>
        <td><input type="text" name="fooditem[sugars]" value="0"></td>
      </tr>
      <tr>
        <td>protein:</td>
        <td><input type="text" name="fooditem[protein]" value="0"></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Create New Fooditem"></td>
      </tr>
    </table>
  </form>
</div>
