
.login_form{
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 15px;
  margin:auto;
  width: 295px;
  box-sizing: border-box;
}

.login_form input{
  height: 35px;
  width:250px;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  text-indent: 5px;
}

.login_form input:focus{
  border: 1px solid blue;
  border-radius: 6px;
}

.login_form input[type="submit"]{
  background: blue;
  color:white;
  cursor: default;
  font-size: 13px;
  font-weight: bold;
  font-family: arial;
}

.fooditem_form{
  width:600px;
}

.error{
  border: 1px solid red !important;
}

.error-text{
  font-size: 11px;
  font-family: monospace;
  color:blue;
}