<div class="login_form">
  <form action="/signup" method="post">
    <table>
      <tr>
        <td class="error-text"><%= session["signup_errors"]%></td>
      </tr>
      <tr>
        <% if session["signup_errors"] %>
          <td><input class="error" type="text" name="user[username]" placeholder="Username:" tabindex="1" required></td>
        <% else %>
          <td><input type="text" name="user[username]" placeholder="Username:" tabindex="1" required></td>
        <% end %>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td><input type="password" name="user[password]" placeholder="Password:" tabindex="2" required></td>
      </tr>
      <tr>

        <td><input type="submit" value="Sign up" tabindex="3"></td>
      </tr>
    </table>
  </form>
</div>