<pre>Homepage</pre>

<% if logged_in? %>
<p>
  Welcome <%= @user.username %>
</p>
<p>
  <a href="/<%= @user.id %>/meals">View My Meals</a>
</p>
<p>
  <a href="/<%= @user.id %>/meals/add">Add To My Meals</a>
</p>
<p>
  <a href="/profile">Account</a>
</p>
<p>
  <a href="/logout">Logout</a>
</p>
<% else %>
<p>
  <a href="/signup">Sign Up</a>
</p>
<p>
  <a href="/login">Login</a>
</p>

<% end %>